spe11-utils
11thSPE-CSP
output
plots
*.asv
pyopmcsp11
pyopmspe11
Nevland
11thSPE-CSP/.gitignore
config.JSON
*.xlsx
*grid.mat
plotsMaster
spe11-decks
decksave
data/grid-files/*
data/PEBI_pointData/*
scripts/gridgeneration/ggvenv/*
Misc/
data/deck/